/* .movie-poster-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.movie-poster {
  width: 180px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  position: relative;
}
 */
