.seat-grid {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width:70%;
  height: 100%;
  padding: 0px 0px 124px 98px;
  
}

.seat-row {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.seat-row:last-child {
  margin-top: 32px; /* відступ між Good і VIP */
}

.seat {
  width: 20px;
  height: 28px;
  border-radius: 4px;
  border: 2px solid  #3981d3;
  cursor: pointer;
  transition: background 0.2s ease;
}

.seat.good {
  border-color: #3981d3;
}

.seat.lux {
  border-color: var(--color-orange);
}

.seat.selected.seat.good {
  background-color: #2196f3;
}

.seat.selected.seat.lux {
  background-color: var(--color-orange);
}

.seat.hidden {
  visibility: hidden;
}
