/* Сам контейнер Header */
.hero {
  position: fixed; 
  width: 100%;
  font-family: var(--font-main);
  background: var(--full-tranparent);
  color: var(--color-light, #fff);
  box-sizing: border-box;
  padding: 13px 54px;
  z-index: 1000; 
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Секція з Header для сторінки щ вибором місця  */
.booking-header {
  position: fixed;
  left: 0;
  width: 70%;
  padding: 13px 54px;
  background: var(--full-tranparent);
  color: var(--color-light, #fff);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  font-family: var(--font-main);
  box-sizing: border-box;
}

/* 📱 Для мобільних */
@media (max-width: 480px) {
  .booking-header {
    width: 100%;
    padding: 13px 24px; /* можна зменшити padding для мобілок */
  }
}

/* 📱 Для планшетів */
@media (max-width: 768px) {
  .booking-header {
    width: 100%;
    padding: 13px 32px;
  }
}

/* кінець Секції з Header для сторінки щ вибором місця  */


/* Лого сайту і анімації */
.logo {
  font-size: 31px;
  font-weight: bold;
  color: var(--color-light, #fff);
  white-space: nowrap;
  cursor: pointer;
}

.logo:hover {
  color: var(--color-orange);
  transform: scale(1.20);
  transition: color 0.3s ease;
}

/* Іконки і анімації з ними */
.nav-icons {
  display: flex;
  gap: 21px;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: background-color 0.62s ease;
}

.icon-circle:hover {
  background-color: rgba(255, 255, 255, 0.423);
  transform: scale(1.25);
  color: var(--color-orange);
}
