
:root {
 
  
  --color-bg: #111826;
  --color-primary: #C2E0F2;
  --color-secondary: #A0BED9;
  --color-light: #e4eaf2;
  --color-neutral: #cfd7e7;
  --color-orange:#E8590C;
  --full-tranparent: rgba(0, 0, 0, 0.225);
  

  --font-main: sans-serif;

  --padding-mobile: 16px;
  --padding-tablet: 24px;
  --padding-desktop: 32px;

  
  --container-padding: 64px;
  --title-mobile: 28px;
  --title-desktop: 64px;
  --text-size: 16px;
}

.page-layout {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; 
}

body {
  background-color: var( --color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  box-sizing: border-box;
}



